/* Configurações gerais para garantir a responsividade */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para a seção 'Sobre' */
#sobre .container {
    padding: 20px;
}


.img-perfil img {
    max-width: 150px;
    height: auto;
}

.bio-title {
    font-size: 1.5rem;
}

.bio-paragraph,
.gosto-pessoais p,
.motivacoes p {
    font-size: 1rem;
}

/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .box-img,
    .bio {
        margin: 0 auto;
    }

    .bio-title {
        font-size: 1.25rem;
    }

    .bio-paragraph,
    .gosto-pessoais p,
    .motivacoes p {
        font-size: 0.9rem;
    }

    .img-perfil img {
        margin-left: 10px;
    }

    .bio-content {
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 120px;
    }
}

/* Ajustes para telas menores que 576px */
@media (max-width: 576px) {
    .bio-title {
        font-size: 1.2rem;
    }

    .bio-paragraph,
    .gosto-pessoais p,
    .motivacoes p {
        font-size: 0.85rem;
    }
}
